.dark-container .filter-bar-wrapper {
    padding: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 0.3rem;
    background-color: #2D2C2C;
    max-width: 100%;
    overflow-x:auto;
}

.default-container .filter-bar-wrapper {
    padding: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 0.3rem;
    background-color: white;
    flex-wrap: nowrap;
    flex-shrink: 0;
    width: 100%;
    overflow: hidden;
}

.high-contrast-container .filter-bar-wrapper {
    padding: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 0.3rem;
    background-color: black;
    max-width: 100%;
    overflow-x: auto;
}

.close-icon {
    margin-right: 0.5rem;
    cursor: pointer;
}

.searchbar-wrapper {
    min-width: 10%;
    max-width: 64%
}

.searchbar-input {
    padding-left: 1rem;
    width: 100% !important;
}

.filter-bar-item {
    flex: 0 0 10rem !important;
    width: 13.6rem !important;
    margin-left: -2.6rem !important;
    text-align: center;
}

.filter-bar-item-container {
    justify-content: flex-end;
    margin-right: 1rem !important;
    width: 36%;
    float: left;
    text-align: right;
}