.no-post-added-container
{
    width:30rem;
    height:30rem;
    text-align:center;
    margin-left:39%;
    margin-top:10%;
}

.no-data-preview{
    width:100%;
    font-weight:bold;
    margin-top:1rem;
}

.add-new-post {
    width: 100%;
    margin-top: 1rem;
}

.add-new-post-btn{
    margin-top:2rem;
}

.app-logo {
    margin-top: 8rem;
}

@media (max-width: 1170px) {
    .no-post-added-container {
        margin-left: 36%;
    }
}